# Eclipse
*.class
Branch-Invite-SDK-TestBed/.settings/org.eclipse.jdt.core.prefs
Branch-Invite-SDK/.settings/org.eclipse.jdt.core.prefs

# Android Studio
.idea
*.iml
local.properties
build/

# Gradle
.gradle/*
*.properties
.metadata/*
.DS_Store
/captures

*.gen
bin/
gen/

Branch-Invite-SDK-TestBed/gradle/wrapper/gradle-wrapper.jar
Branch-invite-SDK-TestBed/gradlew
Branch-Invite-SDK-TestBed/gradlew.bat


